.layout-archive {
  --background: #fff;
  --text: #473d2f;
  --primary: #007fff;
  --secondary: #f0c808;
  --body-font: "Roboto";
  --heading-font: "Source Code Pro", monospace;

  ::selection {
    background: var(--secondary);
  }

  .lateflip-logo {
    &-top {
      fill: var(--secondary);
    }

    &-side {
      fill: var(--background);
    }

    &-shadow {
      fill: var(--text);
    }

    &:hover {
      .lateflip-logo-top {
        fill: var(--primary);
      }
    }
  }

  header {
    display: flex;
    padding: 1em;
    justify-content: flex-end;

    a {
      max-width: 40vw;
      width: 100%;
    }
  }

  article {
    background-color: var(--primary);
    clip-path: polygon(100% 10vw, 100% 100%, 0 100%, 0 0);
    color: var(--background);
    margin: 0;
    overflow-x: hidden;
    padding: calc(20vw + 1em) 0 4em 0;
    position: relative;

    h1 {
      font-size: 22.8vw;
      font-family: var(--heading-font);
      left: -0.1em;
      letter-spacing: 0.08em;
      margin: 0;
      position: absolute;
      text-shadow: -4vw 4vw 0 rgb(71, 61, 47);
      text-align: center;
      text-transform: uppercase;
      top: -0.3em;
      transform: rotate(5.8deg);
      width: 100%;
    }
  }
}

.archive {
  padding: 0 1.6em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul > li + li {
    margin-top: 2em;
  }

  & &__years {
    display: block;
    margin: 0 auto;
    max-width: 82em;

    h2 {
      font-family: var(--heading-font);
      font-size: 5em;
      margin: 0 0 0.14em -0.052em;
      text-shadow: -0.195em 0.195em 0 rgb(71, 61, 47);
      width: 18rem;
    }
  }

  & &__months {
    color: var(--text);
    display: grid;
    filter: drop-shadow(-1em 1em 0 rgb(71, 61, 47));
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    margin-top: -2.8em;

    h3 {
      font-size: 2em;
      font-family: var(--heading-font);
      font-variant: small-caps;
      margin: 0;
      letter-spacing: 0.08em;
      text-align: center;
    }

    > li {
      background-color: var(--background);
      padding: 1.2em;
      clip-path: polygon(93% 0, 100% 100%, 7% 100%, 0 0);
    }
  }

  .calendar {
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: repeat(7, 1.6em);
    margin: 0.5em auto 0;
    text-align: center;
    width: max-content;

    > span {
      align-items: center;
      display: flex;
      height: 1.6em;
      justify-content: center;
    }

    a {
      background-color: var(--secondary);
      color: var(--background);
      display: inline-block;
      height: 1.6em;
      line-height: 1.6em;
      text-decoration: none;
      width: 100%;

      &:focus {
        outline: none;
        background-color: var(--primary);
      }

      &:active,
      &:hover {
        background-color: var(--primary);
      }
    }
  }
}

@media (min-width: 768px) {
  .archive {
    padding: 3.8em;
  }
}
