.layout-cube {
  --background: #fff;
  --text: #222;
  --primary: #444;
  --secondary: #888;
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Railway", sans-serif;

  background-image: linear-gradient(
      201deg,
      rgba(148, 148, 148, 0.07) 0%,
      rgba(148, 148, 148, 0.07) 50%,
      rgba(83, 83, 83, 0.07) 50%,
      rgba(83, 83, 83, 0.07) 100%
    ),
    linear-gradient(
      192deg,
      rgba(176, 176, 176, 0.08) 0%,
      rgba(176, 176, 176, 0.08) 50%,
      rgba(180, 180, 180, 0.08) 50%,
      rgba(180, 180, 180, 0.08) 100%
    ),
    linear-gradient(
      48deg,
      rgba(185, 185, 185, 0.1) 0%,
      rgba(185, 185, 185, 0.1) 50%,
      rgba(243, 243, 243, 0.1) 50%,
      rgba(243, 243, 243, 0.1) 100%
    ),
    linear-gradient(
      65deg,
      rgba(172, 172, 172, 0.09) 0%,
      rgba(172, 172, 172, 0.09) 50%,
      rgba(209, 209, 209, 0.09) 50%,
      rgba(209, 209, 209, 0.09) 100%
    ),
    linear-gradient(
      4deg,
      rgba(224, 224, 224, 0.03) 0%,
      rgba(224, 224, 224, 0.03) 50%,
      rgba(49, 49, 49, 0.03) 50%,
      rgba(49, 49, 49, 0.03) 100%
    ),
    linear-gradient(
      228deg,
      rgba(152, 152, 152, 0.03) 0%,
      rgba(152, 152, 152, 0.03) 50%,
      rgba(130, 130, 130, 0.03) 50%,
      rgba(130, 130, 130, 0.03) 100%
    ),
    linear-gradient(
      163deg,
      rgba(170, 170, 170, 0.08) 0%,
      rgba(170, 170, 170, 0.08) 50%,
      rgba(232, 232, 232, 0.08) 50%,
      rgba(232, 232, 232, 0.08) 100%
    ),
    linear-gradient(
      152deg,
      rgba(12, 12, 12, 0.05) 0%,
      rgba(12, 12, 12, 0.05) 50%,
      rgba(161, 161, 161, 0.05) 50%,
      rgba(161, 161, 161, 0.05) 100%
    ),
    linear-gradient(
      302deg,
      rgba(48, 48, 48, 0.1) 0%,
      rgba(48, 48, 48, 0.1) 50%,
      rgba(195, 195, 195, 0.1) 50%,
      rgba(195, 195, 195, 0.1) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(183, 199, 255));

  main {
    padding: 2em 0;
  }

  article {
    margin: 0 auto;
  }

  header {
    text-transform: uppercase;

    > div:first-child {
      font-family: var(--heading-font);
      font-size: 5vw;
      letter-spacing: 0.1em;
      text-align: center;
    }

    a {
      color: var(--text);
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: line-through;
      }
    }

    > div:last-child {
      display: flex;
      justify-content: center;
      font-family: var(--heading-font);
      margin: 0.2em 0 2em;

      span,
      h1,
      h2 {
        font-size: calc(0.4em + 0.7vw);
        margin: 0 0.5em;
        font-weight: 400;
      }
    }
  }

  .cube {
    height: 60vw;
    margin: 0 auto;
    perspective: 800px;
    width: 60vw;
  }

  .grid {
    width: 60vw;
    height: 60vw;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-30vw);
    transition: transform 1s;
  }

  .side-0 .cube .grid {
    transform: translateZ(-30vw) rotateY(0deg);
  }

  .side-2 .cube .grid {
    transform: translateZ(-30vw) rotateY(-90deg);
  }

  .side-1 .cube .grid {
    transform: translateZ(-30vw) rotateY(-180deg);
  }

  .side-3 .cube .grid {
    transform: translateZ(-30vw) rotateY(90deg);
  }

  .side-4 .cube .grid {
    transform: translateZ(-30vw) rotateX(-90deg);
  }

  .side-5 .cube .grid {
    transform: translateZ(-30vw) rotateX(90deg);
  }

  .grid > li {
    background: rgba(255, 255, 255, 0.35);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        0deg,
        rgba(247, 247, 247, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    border: 2px solid var(--background);
    box-shadow: 0 -0.2em 0.9em #fff, 0 -0.2em 0.6em #fff, 0 0 0.3em #fff,
      0 0 0.2em #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 1px 1px #fff,
      1px -1px 1px #fff;
    color: var(--text);
    display: flex;
    height: 60vw;
    font-size: 2vw;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    padding: 6vw;
    position: absolute;
    text-align: center;
    width: 60vw;

    h2 {
      margin-top: 0;
      text-shadow: 0 -0.2em 0.9em #fff, 0 -0.2em 0.6em #fff, 0 0 0.3em #fff,
        0 0 0.2em #fff, 1px 1px 1px #0f0, -1px -1px 1px #000, 1px 2px 3px #000,
        -1px 1px 1px #00f, 1px -1px 1px #f0f;
      transition: text-shadow 500ms;
    }

    .card {
      color: var(--background);
      opacity: 0.3;
      transition: opacity 800ms, filter 800ms;
      filter: grayscale(100);
    }

    .image {
      margin-bottom: 1em;
      display: flex;
      justify-content: center;

      img {
        transition: filter 500ms;
        width: 60%;
      }
    }

    a {
      color: var(--background);
      font-family: var(--heading-font);
      font-weight: 400;
      text-decoration: none;
      text-shadow: 0 -0.2em 0.9em #fff, 0 -0.2em 0.6em #fff, 0 0 0.3em #fff,
        0 0 0.2em #fff, 1px 1px 1px #0f0, -1px -1px 1px #000, 1px 2px 3px #000,
        -1px 1px 1px #00f, 1px -1px 1px #f0f;
      transition: text-shadow 500ms;

      &:hover,
      &:focus {
        text-shadow: 0 -0.2em 0.9em #fff, 0 -0.2em 0.6em #fff, 0 0 0.3em #fff,
          0 0 0.2em #fff, 1px 1px 1px #00f, -1px -1px 1px #0f0, 1px 2px 3px #f0f,
          -1px 1px 1px #00f, 1px -1px 1px #f0f;

        h2 {
          text-shadow: 0 -0.2em 0.9em #fff, 0 -0.2em 0.6em #fff, 0 0 0.3em #fff,
            0 0 0.2em #fff, 1px 1px 1px #00f, -1px -1px 1px #0f0,
            1px 2px 3px #f0f, -1px 1px 1px #00f, 1px -1px 1px #f0f;
        }

        img {
          filter: saturate(10);
        }
      }
    }

    .extras {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        margin: 0 1em;
      }
    }
  }

  .grid > li {
    &:nth-child(1) {
      transform: rotateY(0deg) translateZ(30vw);
    }

    &:nth-child(2) {
      transform: rotateY(180deg) translateZ(30vw);
    }

    &:nth-child(3) {
      transform: rotateY(90deg) translateZ(30vw);
    }

    &:nth-child(4) {
      transform: rotateY(-90deg) translateZ(30vw);
    }

    &:nth-child(5) {
      transform: rotateX(90deg) translateZ(30vw);
    }

    &:nth-child(6) {
      transform: rotateX(-90deg) translateZ(30vw);
    }
  }

  .cube-controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 24vw;
    list-style: none;
    margin: 2em auto 0;
    padding: 0;
    position: relative;
    width: 32vw;

    li {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      border: 0.2em solid var(--background);
      box-shadow: inset 0 0 2em #fff, 0 0 2em #fff;
      display: flex;
      height: 8vw;
      justify-content: center;
      transition: background 500ms;
      width: 8vw;

      &:nth-child(1) {
        grid-area: 3 / 2 / 4 / 3;
      }

      &:nth-child(2) {
        grid-area: 3 / 4 / 4 / 5;
      }

      &:nth-child(3) {
        grid-area: 3 / 3 / 4 / 4;
      }

      &:nth-child(4) {
        grid-area: 3 / 1 / 4 / 2;
      }

      &:nth-child(5) {
        grid-area: 2 / 2 / 3 / 3;
      }

      &:nth-child(6) {
        grid-area: 4 / 2 / 5 / 3;
      }
    }

    button {
      appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: var(--background);
      font-family: arial, sans-serif;
      font-size: 8vw;
      line-height: 1;
      margin-top: -0.1em;
      padding: 0;
      text-shadow: 0 -0.2em 0.9em #fff, 0 -0.2em 0.6em #fff, 0 0 0.3em #fff,
        0 0 0.2em #fff, 1px 1px 1px #0f0, -1px -1px 1px #000, 1px 2px 3px #000,
        -1px 1px 1px #00f, 1px -1px 1px #f0f;
      transition: text-shadow 500ms;

      &:focus,
      &:hover {
        text-shadow: 0 -0.2em 0.9em #fff, 0 -0.2em 0.6em #fff, 0 0 0.3em #fff,
          0 0 0.2em #fff, 1px 1px 1px #00f, -1px -1px 1px #0f0, 1px 2px 3px #f0f,
          -1px 1px 1px #00f, 1px -1px 1px #f0f;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .side-0 .cube-controls li:nth-child(1),
  .side-1 .cube-controls li:nth-child(2),
  .side-2 .cube-controls li:nth-child(3),
  .side-3 .cube-controls li:nth-child(4),
  .side-4 .cube-controls li:nth-child(5),
  .side-5 .cube-controls li:nth-child(6) {
    background-color: #fff;
  }

  .side-0 .grid > li:nth-child(1) .card,
  .side-1 .grid > li:nth-child(2) .card,
  .side-2 .grid > li:nth-child(3) .card,
  .side-3 .grid > li:nth-child(4) .card,
  .side-4 .grid > li:nth-child(5) .card,
  .side-5 .grid > li:nth-child(6) .card {
    opacity: 1;
    filter: grayscale(0);
  }
}

@media (min-width: 768px) {
  $cubeBase: 500;

  .layout-cube {
    header {
      text-transform: uppercase;

      > div:first-child {
        font-size: 5vw;
        letter-spacing: 0.1em;
      }

      > div:last-child {
        margin: 0.2em 0 2em;

        span,
        h1,
        h2 {
          font-size: calc(0.4em + 0.7vw);
          margin: 0 0.5em;
        }
      }
    }

    .cube {
      height: #{$cubeBase}px;
      perspective: #{$cubeBase * 2}px;
      width: #{$cubeBase}px;
    }

    .grid {
      width: #{$cubeBase}px;
      height: #{$cubeBase}px;
      transform: translateZ(-100px);
    }

    .grid > li {
      height: #{$cubeBase}px;
      font-size: 16px;
      padding: 20px;
      width: #{$cubeBase}px;
    }

    .side-0 .cube .grid {
      transform: translateZ(-#{$cubeBase / 2}px) rotateY(0deg);
    }

    .side-2 .cube .grid {
      transform: translateZ(-#{$cubeBase / 2}px) rotateY(-90deg);
    }

    .side-1 .cube .grid {
      transform: translateZ(-#{$cubeBase / 2}px) rotateY(-180deg);
    }

    .side-3 .cube .grid {
      transform: translateZ(-#{$cubeBase / 2}px) rotateY(90deg);
    }

    .side-4 .cube .grid {
      transform: translateZ(-#{$cubeBase / 2}px) rotateX(-90deg);
    }

    .side-5 .cube .grid {
      transform: translateZ(-#{$cubeBase / 2}px) rotateX(90deg);
    }

    .grid > li {
      &:nth-child(1) {
        transform: rotateY(0deg) translateZ(#{$cubeBase / 2}px);
      }

      &:nth-child(2) {
        transform: rotateY(180deg) translateZ(#{$cubeBase / 2}px);
      }

      &:nth-child(3) {
        transform: rotateY(90deg) translateZ(#{$cubeBase / 2}px);
      }

      &:nth-child(4) {
        transform: rotateY(-90deg) translateZ(#{$cubeBase / 2}px);
      }

      &:nth-child(5) {
        transform: rotateX(90deg) translateZ(#{$cubeBase / 2}px);
      }

      &:nth-child(6) {
        transform: rotateX(-90deg) translateZ(#{$cubeBase / 2}px);
      }
    }

    .cube-controls {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: 12em;
      margin: 2em auto 0;
      width: 16em;

      li {
        height: 4em;
        width: 4em;
      }

      button {
        font-size: 4em;
      }
    }
  }
}
