.layout-cube {
  .scene {
    width: 60vw;
    height: 60vw;
    border: 1px solid #ccc;
    perspective: 800px;
    margin: 0 auto;
  }

  .grid {
    width: 60vw;
    height: 60vw;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-30vw);
    transition: transform 1s;
  }

  .grid.show-front {
    transform: translateZ(-30vw) rotateY(0deg);
  }
  .grid.show-right {
    transform: translateZ(-30vw) rotateY(-90deg);
  }
  .grid.show-back {
    transform: translateZ(-30vw) rotateY(-180deg);
  }
  .grid.show-left {
    transform: translateZ(-30vw) rotateY(90deg);
  }
  .grid.show-top {
    transform: translateZ(-30vw) rotateX(-90deg);
  }
  .grid.show-bottom {
    transform: translateZ(-30vw) rotateX(90deg);
  }

  .grid li {
    position: absolute;
    width: 60vw;
    height: 60vw;
    border: 2px solid black;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  .grid li:nth-child(1) {
    background: hsla(100, 100%, 100%, 0.7);
    transform: rotateY(0deg) translateZ(30vw);
  }
  .grid li:nth-child(2) {
    background: hsla(100, 100%, 100%, 0.7);
    transform: rotateY(180deg) translateZ(30vw);
  }
  .grid li:nth-child(3) {
    background: hsla(100, 100%, 100%, 0.7);
    transform: rotateY(90deg) translateZ(30vw);
  }
  .grid li:nth-child(4) {
    background: hsla(100, 100%, 100%, 0.7);
    transform: rotateY(-90deg) translateZ(30vw);
  }
  .grid li:nth-child(5) {
    background: hsla(100, 100%, 100%, 0.7);
    transform: rotateX(90deg) translateZ(30vw);
  }
  .grid li:nth-child(6) {
    background: hsla(100, 100%, 100%, 0.7);
    transform: rotateX(-90deg) translateZ(30vw);
  }
}
