:root {
  --background: #333;
  --text: #fff;
  --primary: #0ff;
  --secondary: #f0f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.grid {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header,
.footer {
  background-color: var(--background);
  color: var(--text);
  padding: 1em;
}

.footer {
  display: flex;
}

.footer > div {
  margin-right: 2em;
  position: relative;
}

.footer > div:after {
  content: "·";
  position: absolute;
  text-align: center;
  width: 2em;
}

.footer a {
  color: var(--primary);
}

.footer a:hover {
  color: var(--secondary);
}

.footer nav {
}

.footer nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer nav ul li:not(:last-child) {
  margin-right: 1em;
}
