.layout-mattdrian {
  --background: #fff;
  --text: #000;
  --primary: rgb(199, 2, 2);
  --secondary: rgb(235, 211, 1);
  --accent: rgb(37, 56, 161);
  --grey: #aaa;
  --heading-font: "Josefin Sans", sans-serif;

  background-color: var(--background);
  color: var(--text);
  font-family: var(--body-font);

  main {
    overflow: hidden;
    width: 100%;
  }

  header {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;

    > div:nth-child(1) {
      margin-bottom: 1em;
      max-width: 10em;
    }

    > div:nth-child(2) {
      h1 {
        font-family: var(--heading-font);
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1.3;
      }

      h2 {
        font-size: 0.8em;
        letter-spacing: 0.06em;
      }

      h1,
      h2 {
        margin: 0;
      }
    }
  }

  .lateflip-icon {
    &:hover {
      .lateflip-icon-l {
        fill: var(--primary);
      }

      .lateflip-icon-f {
        fill: var(--secondary);
      }
    }
  }

  .grid {
    background-color: var(--text);
    display: grid;
    min-height: calc(100vh - 3.2em);
    min-height: 100vh;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 3vw;

    > li {
      align-items: center;
      background-color: var(--background);
      display: flex;
      justify-content: center;
      padding: 0;

      &:nth-child(1) {
        grid-area: 1 / 1 / 11 / 13;
      }

      &:nth-child(2) {
        background-color: var(--primary);
        grid-area: 1 / 13 / 4 / 16;
      }

      &:nth-child(3) {
        grid-area: 1 / 16 / 4 / 25;
      }

      &:nth-child(4) {
        background-color: var(--accent);
        grid-area: 4 / 13 / 7 / 25;
      }

      &:nth-child(5) {
        grid-area: 7 / 13 / 16 / 25;
      }

      &:nth-child(6) {
        background-color: var(--secondary);
        grid-area: 11 / 1 / 16 / 13;
      }

      &:nth-child(7) {
        grid-area: 16 / 1 / 36 / 4;
      }

      &:nth-child(8) {
        grid-area: 16 / 4 / 36 / 17;
      }

      &:nth-child(9) {
        background-color: var(--grey);
        grid-area: 16 / 17 / 22 / 25;
      }

      &:nth-child(10) {
        grid-area: 22 / 17 / 26 / 20;
      }

      &:nth-child(11) {
        background-color: var(--primary);
        grid-area: 22 / 20 / 36 / 25;
      }

      &:nth-child(12) {
        grid-area: 26 / 17 / 36 / 20;
      }

      &:nth-child(13) {
        grid-area: 36 / 1 / 40 / 6;
      }

      &:nth-child(14) {
        background-color: var(--accent);
        grid-area: 36 / 6 / 40 / 14;
      }

      &:nth-child(15) {
        grid-area: 36 / 14 / 40 / 25;
      }

      &:nth-child(16) {
        background-color: var(--secondary);
        grid-area: 40 / 1 / 46 / 9;
      }

      &:nth-child(17) {
        grid-area: 40 / 9 / 46 / 25;
      }

      &:nth-child(18) {
        grid-area: 46 / 1 / 51 / 21;
      }

      &:nth-child(19) {
        background-color: var(--secondary);
        grid-area: 46 / 21 / 55 / 25;
      }

      &:nth-child(20) {
        background-color: var(--primary);
        grid-area: 51 / 1 / 55 / 21;
      }

      &:nth-child(21) {
        grid-area: 55 / 1 / 75 / 25;
      }
    }

    a {
      text-decoration: none;
      color: var(--text);

      &:hover {
        color: var(--primary);
      }
    }
  }

  .card {
    max-width: 16em;
    padding: 1em;

    h2 {
      font-size: 0.8em;
      letter-spacing: 0.06em;
      line-height: 1.5;
      font-variant: small-caps;
      font-family: var(--heading-font);
      text-align: left;
    }

    a:hover img {
      filter: none;
    }

    img {
      filter: saturate(0);
      transition: filter 200ms;
      width: 100%;
    }

    .extras {
      margin: 0;
      list-style: none;
      padding: 0;
      font-size: 0.68em;
    }
  }

  .footer {
    border-top: 3vw solid var(--text);

    a {
      color: var(--text);
    }
  }

  @media (min-width: 768px) {
    .grid {
      grid-gap: 1.5vw;
    }

    .footer {
      border-top-width: 1.5vw;
    }
  }

  @media (min-width: 1024px) {
    .grid {
      grid-gap: 1.25vw;
    }

    .footer {
      border-top-width: 1.25vw;
    }
  }

  @media (min-width: 1440px) {
    .grid {
      grid-gap: 1vw;
    }

    .footer {
      border-top-width: 1vw;
    }
  }
}
