.layout-mattdrian {
  --background: #fff;
  --text: #000;
  --primary: rgb(199, 2, 2);
  --secondary: rgb(235, 211, 1);
  --accent: rgb(37, 56, 161);
  --grey: #aaa;
  --heading-font: "Josefin Sans", sans-serif;

  background-color: var(--background);
  color: var(--text);
  font-family: var(--body-font);

  main {
    overflow: hidden;
    width: 100%;
  }

  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    > div:nth-child(1) {
      margin-bottom: 2em;
    }

    > div:nth-child(2) {
      h1 {
        font-family: var(--heading-font);
        text-transform: uppercase;
        font-size: 1.4em;
      }

      h2 {
        font-size: 1.1em;
      }

      h1,
      h2 {
        margin: 0;
      }
    }
  }

  .lateflip-icon {
    &:hover {
      .lateflip-icon-l {
        fill: var(--primary);
      }

      .lateflip-icon-f {
        fill: var(--secondary);
      }
    }
  }

  .grid {
    background-color: var(--text);
    display: grid;
    min-height: calc(100vh - 3.2em);
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;

    > li {
      background-color: var(--background);
      padding: 1em;

      &:nth-child(2) {
        background-color: var(--primary);
        grid-row: span 2;
      }

      &:nth-child(6) {
        background-color: var(--secondary);
        grid-column: span 2;
      }

      &:nth-child(7) {
        background-color: var(--grey);
      }

      &:nth-child(8) {
        background-color: var(--accent);
      }

      &:nth-child(11) {
        background-color: var(--text);
      }
    }

    a {
      text-decoration: none;
      color: var(--text);

      &:hover {
        color: var(--primary);
      }
    }
  }

  .card {
    h2 {
      font-size: 1em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
    }

    img {
      width: 100%;
    }

    .extras {
      margin: 0;
      list-style: none;
      padding: 0;
    }
  }

  .footer {
    border-top: 2vw solid var(--text);

    a {
      color: var(--text);
    }
  }

  @media (min-width: 768px) {
    .grid {
      grid-gap: 1.5vw;
      grid-template-columns: repeat(4, 1fr);
    }

    .footer {
      border-top-width: 1.5vw;
    }
  }

  @media (min-width: 1024px) {
    .grid {
      grid-gap: 1.25vw;
      grid-template-columns: repeat(6, 1fr);

      li {
        &:nth-child(2) {
          grid-column: span 4;
          grid-row: span 4;
        }

        &:nth-child(4) {
          grid-row: span 3;
        }

        &:nth-child(5) {
          grid-column: span 2;
          grid-row: span 2;
        }
      }
    }

    .footer {
      border-top-width: 1.25vw;
    }
  }

  @media (min-width: 1440px) {
    .grid {
      grid-gap: 1vw;
      grid-template-columns: repeat(8, 1fr);
    }

    .footer {
      border-top-width: 1vw;
    }
  }
}
