.layout-default {
  --background: rgb(43, 78, 89);
  --text: rgb(253, 251, 224);
  --primary: #e66465;
  --secondary: #9198e5;
  --accent: rgb(77, 13, 18);
  --heading-font: "Londrina Sketch", "Monoton", sans-serif;
  --body-font: "Raleway", sans-serif;

  background-color: var(--secondary);
  background: linear-gradient(
    to bottom,
    #e66465,
    var(--secondary),
    var(--background)
  );
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 2em;

    .lateflip-logo {
      animation: Float 3s linear 0s infinite;
    }

    .lateflip-logo-top {
      animation: DefaultFade 10s linear 0s infinite;
    }

    .lateflip-logo-side {
      fill: rgb(148, 155, 149);
    }

    .lateflip-logo-shadow {
      fill: transparent;
    }
  }

  article {
    background-color: rgb(130, 132, 145);
    color: var(--text);
    clip-path: polygon(
      50% 6%,
      70% 0,
      85% 6%,
      100% 0,
      100% 100%,
      0 100%,
      0 0,
      14% 6%,
      31% 0
    );
    display: flex;
    flex-grow: 1;

    > div {
      background-color: var(--background);
      flex-grow: 1;
      margin: 4em auto 0;
      max-width: 40em;
      padding: 5em 2em;

      clip-path: polygon(
        65% 0%,
        80% 6%,
        95% 0%,
        100% 2%,
        100% 100%,
        0 100%,
        0 6%,
        25% 0%,
        40% 6%
      );
    }

    h1 {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-family: var(--heading-font);
      font-size: 16vw;
      font-weight: 400;
    }

    h1 + p {
      margin-top: 2em;
    }

    p {
      margin: 1em 0;
    }

    a {
      color: var(--secondary);
      text-decoration: none;

      &:hover {
        color: #fff;
        text-decoration: underline wavy #fff;
      }
    }
  }

  .footer {
    a {
      color: var(--text);

      &:hover {
        color: #fff;
        text-decoration: underline wavy #fff;
      }
    }
  }

  @media (min-width: 768px) {
    header {
      padding: 4em;
    }

    article {
      h1 {
        font-size: 6.6em;
      }
    }
  }

  @media (min-width: 1024px) {
    header {
      svg {
        max-width: 60em;
      }
    }
  }

  @media (min-width: 1440px) {
  }
}

@keyframes Float {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 0.5em);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -0.5em);
  }
}

@keyframes DefaultFade {
  0% {
    fill: var(--text);
  }

  50% {
    fill: #fff;
  }

  100% {
    fill: var(--text);
  }
}
