.layout-default {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;

  header {
    padding: 1em;

    h1 {
      margin: 0;
    }
  }

  article {
    background-color: #007fff;
    color: white;
    margin: 5em 0 10em;
    padding: 5em 10% 6.5em 3em;
  }
}

@keyframes DefaultFade {
  0% {
    fill: #fff;
  }

  15% {
    fill: #fff;
  }

  45% {
    fill: #f0f;
  }

  55% {
    fill: #f0f;
  }

  85% {
    fill: #fff;
  }

  100% {
    fill: #fff;
  }
}

.layout-default .lateflip-logo-top {
  animation: DefaultFade 10s linear 0s infinite;
}
